<html lang="se-SE">
<head>
	<title th:text="#{display.courses.overview.title}"> Förslag till bemanning, per kurs </title>
	<meta http-equiv="Content-Type" content="text/html; charset:UTF-8" />
	<link rel="stylesheet" type="text/css" media="screen, print" href="../layout/default-application.css" th:href="@{/layout/default-application.css}"></link>
	<link rel="stylesheet" type="text/css" media="screen, print" href="../layout/default.css" th:href="@{/layout/default.css}"></link>
</head>
<body>
	<div id="container">
		<div id="returnHome" class="action">
			<a href="../index.html" th:text="#{return.home}">Åter till startsidan</a>
		</div>
		

		<div id="content">
			<div>
				<h1 th:text="#{display.courses.overview.title}">Förslag till bemanning, typ</h1>
			</div>
			<div id="selectYear" class="action">
				<h3>
					Välj år 
				</h3>
				<div class="trigger">
					<form action="#" th:action="@{/view/ViewCourseOverview}" th:object="${budgetYear}" method="post">
						<select name="year">
							<option th:each="selectYear : ${budgetYear.allYears}" th:value="${selectYear}" th:text="${selectYear}" th:selected="${ selectYear==year }">År</option>
						</select>
						<input type="submit" value="V&auml;lj &aring;r" id="form_submit" />
					</form>
				</div>
			</div>
			<br class="clr" />
			<div id="coursesOverview" class="table">
<!-- 
				<h2 th:text="'Budgetår ' + ${year} +', ' + ${budgetDept} + ', ' + ${#dates.format(#dates.createNow(),'yyyy-MM-dd')}">
					Budgetår 2017, Institutionen för Organismbiologi, 2017-04-02 
				</h2>
 -->
				<br />
				<table>
					<thead>
						<tr>
							<th th:text="#{display.courses.overview.course}">Kursens namn</th>
							<th th:text="#{display.courses.overview.startdate}">Startdatum</th>
							<th th:text="#{display.courses.overview.enddate}">Slutdatum</th>
							<th th:text="#{display.courses.overview.courseleader}">Kursansvarig lärare</th>
							<th th:text="#{display.courses.overview.unit}">Enhet</th>
							<th th:text="#{display.courses.overview.email}">Email</th>
							<th th:text="#{display.courses.overview.phone}">Telefon</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="courseinstance, iterStat: ${courses}" th:class="${iterStat.odd}? 'odd' : 'even'">
							<td>
								<a target="_blank" th:href="@{${selmaUrl}(kKod=${courseinstance.course.code})}" th:text="${courseinstance.designation}" /> 
							</td>
							<td th:text="${#dates.format(courseinstance.startDate,'yyyy-MM-dd')}" />
							<td th:text="${#dates.format(courseinstance.endDate,'yyyy-MM-dd')}" />
							<td th:text="${courseinstance.courseLeader.person.name}" />
							<td th:text="${courseinstance.courseLeader.organisationUnit.svName}" />
							<th:block th:with="akkaEntry=${akka.doLookup(courseinstance.courseLeader.person)}">
								<td>
									<a th:href="'mailto:' + ${akkaEntry.get('mail')}" th:text="${akkaEntry.get('mail')}" />
								</td>
								<td th:text="${akkaEntry.get('telephoneNumber')}" />
							</th:block>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
