<html lang="se-SE">
	<head>
		<title th:text="#{display.bemanning.welcome.title}"> Startsida - Välkommen till version 3 av Bemanningsplaneraren !! </title>
		<meta http-equiv="Content-Type" content="text/html; charset:UTF-8" />
	<link rel="stylesheet" type="text/css" media="screen, print" href="/layout/default-application.css" th:href="@{/layout/default-application.css}"></link>
<!-- 
	<link rel="stylesheet" type="text/css" media="screen, print" href="../layout/default.css" th:href="@{/layout/default.css}"></link>
 -->
	</head>
	<body>
		<div id="container">
			<div id="content">
				<div>
					<h1 th:text="#{display.bemanning.welcome.header}+' '+#{build.release.minor}+', ' +${user.givenName}">
						Startsida - Välkommen till version 3 av Bemanningsplaneraren
					</h1>
				</div>

				<div id="viewByPerson" class="action">
					<h3 th:text="#{view.assignments}">
						Bemanning
					</h3>
					<div class="trigger">
						<p>
							<a href="view/ViewByPerson" th:href="@{/view/ViewByPerson}" th:text="#{display.person.assignment.linktext}">Visa per person</a> 
						</p>
					</div>
					<div class="trigger">
						<p>
							<a href="view/ViewByCourse" th:href="@{/view/ViewByCourse}" th:text="#{display.course.assignment.linktext}">Visa per kurs</a> 
						</p>
					</div>
				</div>
				<br class="clr" />

		<!-- 
				<div id="viewByCourse" class="action">
					<h3>
						Visa per kurs
					</h3>
				</div>
		 -->

				<div id="viewPhDProgress" class="action">
					<h3 th:text="#{view.phdprogress}"></h3>
					<div class="trigger">
							<p>
								<a href="view/ViewPhDProgress" th:href="@{/view/ViewPhDProgress}" th:text="#{view.ph.dprogress}">Visa doktorandernas aktivitet</a> 
							</p>
					</div>
				</div>
				<div id="viewOverviews" class="action">
					<h3 th:text="#{view.overviews}"></h3>
					<a href="view/ViewCourseOverview" onmouseover="hints.show('viewCourseOverview')" onmouseout="hints.hide()" th:text="#{display.courses.overview.linktext}">Visa översikt över kurser</a> 
					<div th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMINISTRATOR'',''ROLE_DIRECTOROFSTUDIES'',''ROLE_COREDATAADMIN'',''ROLE_SYSADMIN'')')}">			
						<a href="view/ViewStaffSummary" th:href="@{/view/ViewStaffSummary}" th:text="#{display.staff.overview.linktext}">Visa översikt över personal</a> 
						<br />
						<a href="view/ViewCourseEconOverview" th:href="@{/view/ViewCourseEconOverview}" th:text="#{display.courses.economy.overview.linktext}">Visa översikt över kursekonomi</a> 
					</div>
				</div>
				<div th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMINISTRATOR'',''ROLE_DIRECTOROFSTUDIES'',''ROLE_PHDADMIN'',''ROLE_COREDATAADMIN'',''ROLE_SYSADMIN'')')}">			
					<div id="viewEdits" class="action">
						<h3 th:text="#{view.edits}"></h3>
						<a href="Bemanning/index.html" th:href="@{/Bemanning/index.html}" th:text="#{edit.mode.linktext}">Gå till redigeringsläge</a> 
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
