<html lang="en-US">
<head>
	<title> Startsida - Välkommen till version 3 av Bemanningsplaneraren !!</title>
	<meta http-equiv="Content-Type" content="text/html; charset:UTF-8" />
</head>
<body>
<div id="container">
	<div id="content">
		<div>
			<h1>
				Startsida - Välkommen till version 3 av Bemanningsplaneraren
			</h1>
		</div>

		<div id="viewByPerson" class="action">
			<h3>
				Visa per person
			</h3>
			<div class="trigger">
				<p>
					<a href="/view/ViewByPerson" onmouseover="hints.show('viewByPerson')" onmouseout="hints.hide()">Visa per person</a> 
				</p>
			</div>
		</div>
		<br class="clr" />

		<div id="viewByCourse" class="action">
			<h3>
				Visa per kurs
			</h3>
			<div class="trigger">
				<p>
					<a href="/view/ViewByCourse" onmouseover="hints.show('viewByCourse')" onmouseout="hints.hide()">Visa per kurs</a> 
				</p>
			</div>
		</div>

		<div id="viewPhDProgress" class="action">
			<h3 th:text="#{view.ph.dprogress}"></h3>
			<div class="trigger">
					<p>
						<a href="/view/ViewPhDProgress" onmouseover="hints.show('viewPhDProgress')" onmouseout="hints.hide()">Visa doktorandernas aktivitet</a> 
					</p>
			</div>

		</div>

		<div th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMINISTRATOR'',''ROLE_DIRECTOROFSTUDIES'',''ROLE_PHDADMIN'')')}">			
			<a href="/Bemanning/index.html" onmouseover="hints.show('viewPhDProgress')" onmouseout="hints.hide()">Gå till redigeringsläge</a> 
		</div>
	</div>
</div>
</body>
</html>
