<html lang="se-SE">
<head>
	<title th:text="#{display.person.assignments.title}"> Förslag till bemanning, per typ person </title>
	<meta http-equiv="Content-Type" content="text/html; charset:UTF-8" />
	<link rel="stylesheet" type="text/css" media="screen, print" href="/layout/default-application.css"></link>
	<link rel="stylesheet" type="text/css" media="screen, print" href="/layout/default.css"></link>
</head>
<body>
<!-- 
Logged user: <span sec:authentication="name">Bob</span>
 -->
	<div id="container">
		<div>
			<h1 th:text="#{display.person.assignments.title}">Förslag till bemanning, typ</h1>
		</div>

		<div id="content">
			<div id="selectYear" class="action">
				<h3>
					Välj år 
				</h3>
				<div class="trigger">
					<form action="#" th:action="@{/view/ViewByPerson}" th:object="${budgetYear}" method="post">
<!-- 
						<select th:field="*{year}">
 -->
						<select name="year">
							<option th:each="selectYear : ${budgetYear.allYears}" th:value="${selectYear}" th:text="${selectYear}" th:selected="${ selectYear==year }">År</option>
						</select>
						<input type="submit" value="V&auml;lj &aring;r" id="form_submit" />
					</form>
				</div>
			</div>
			<br class="clr" />
			<div id="PersonAssignment" class="table">
				<h2 th:text="'Budgetår ' + ${year} +', ' + ${budgetDept} + ', ' + ${#dates.format(#dates.createNow(),'yyyy-MM-dd')}">
					Budgetår 2017, Institutionen för Organismbiologi, 2017-04-02 
				</h2>
				<br />
				<div th:each="entry: ${ous}">
					<p />
					<p />
					<h3 th:text="${entry.key.svName}" />
					<p />
						<div th:each="teacher: ${entry.value}">
							<div th:if="${teacher.totalHours > 0}">
								<h4 th:text="${teacher.person.name} + ', ' + ${teacher.position} + ', ' + ${#numbers.formatInteger(teacher.percentGU*100, 1)} + '% GU'" />
									<p />
									<hr align="center" />
									<table>
										<tr>
											<th th:text="#{display.person.assignments.depttag}">Dept</th>
											<th th:text="#{display.person.assignments.coursetag}">Kurs</th>
											<th th:text="#{display.person.assignments.admintag}">Administration</th>
											<th th:text="#{display.person.assignments.developtag}">Utveckling</th>
											<th th:text="#{display.person.assignments.lecturetag}">Föreläsning</th>
											<th th:text="#{display.person.assignments.practictag}">Laboration, Lektion</th>
											<th th:text="#{display.person.assignments.excursiontag}">Exkursion, Seminarium</th>
											<th th:text="#{display.person.assignments.seminartag}">Presentation, Handledning</th>
											<th th:text="#{display.person.assignments.totaltag}">Totalt</th>
											<th th:text="#{display.person.assignments.notetag}">Kommentar</th>
										</tr>
										<tr>
											<td />
											<td th:text="#{display.person.assignments.ibtag}"> Ingående balans </td>
											<td />
											<td />
											<td />
											<td />
											<td />
											<td />
											<td th:text="${teacher.ib}"> IB </td>
											<td />
										</tr>
										<tr th:each="assignment, iterStat: ${teacher.assignments}" th:class="${iterStat.odd}? 'odd' : 'even'">
											<td th:text="${assignment.assigningDept.abbreviation}"> IOB </td>
											<td th:text="${assignment.courseInstance.designation}" />
											<td th:text="${assignment.hoursAdmin}" />
											<td th:text="${assignment.hoursDevelopment}" />
											<td th:text="${assignment.hoursLecture}" />
											<td th:text="${assignment.hoursPractical}" />
											<td th:text="${assignment.hoursExcursion}" />
											<td th:text="${assignment.hoursSeminar}" />
											<td th:text="${assignment.totalHours}" />
											<td> </td>
										</tr>
										<tr>
											<td />
											<td th:text="#{display.person.assignments.perstotaltag}"> Summa årstimmar </td>
											<td />
											<td />
											<td />
											<td />
											<td />
											<td />
											<td th:text="${teacher.totalHours}"> Årstimmar </td>
											<td />
										</tr>
										<tr>
											<td />
											<td th:text="#{display.person.assignments.ubtag}"> Utgående balans </td>
											<td />
											<td />
											<td />
											<td />
											<td />
											<td />
											<td th:text="${teacher.ub}"> UB </td>
											<td />
										</tr>
									</table>
							</div>								
					</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
