<html lang="se-SE">
	<head>
		<title th:text="#{display.bp.teupdateresult.title}">Uppdatering av antal registrerade studenter</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link th:href="@{/styles/main.css}" rel="stylesheet" />
	</head>
	<body>
		<div id="container">
			<div id="content">
				<div>
					<h1 th:text="#{display.bp.teupdateresult.title}" />
<!-- 
					<h1 th:text="#{display.bp.teupdateresult.title} + ', ' + ${year}" />
					<h1 th:text="${year}" />
 -->
				</div>
		<div>
			<h2 th:text="'Sorterat på person'" />
			<table id = "course_instances_update">
				<tr>
					<th>Kurskod</th>
					<th>Kurstillfälleskod</th>
					<th>Lärare</th>
					<th>Aktivitet i TE</th>
					<th>Aktivitet i BP</th>
					<th>Timmar</th>
					<th>Uppdaterad</th>
				</tr>
				<tr th:each="te: ${teEntries}">
					<td class='alnleft' th:text="${te.courseCode}" />
					<td class='alnleft' th:text="${te.ciNumber}" />
					<td class='alnleft' th:text="${te.staff}" />
					<td class='alnleft' th:text="${te.activity}" />
					<td class='alnleft' th:text="${te.activityType}" />
					<td class='alnleft' th:text="${te.actTime}" />
					<td class='alnleft' th:if="${te.updated}">X</td>
				</tr>
			</table>
		</div>
				<div class="footer">
					<p th:text="'BP ' + #{build.release.minor}+ ', build ' + #{build.timestamp}" />
				</div>
			</div>
		</div>
	</body>
</html>
